* {
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
}
div {
    font-size: 1.6em;
}
.flex-header-container {
    display: flex;
}
.flex-header-item-left {
    flex-grow: 1;
    background-color: aquamarine;
}
.flex-header-item-center {
    flex-grow: 5;
    background-color: beige;
}
.flex-header-item-right {
    flex-grow: 1;
    background-color: aliceblue;
}

.flex-container {
    width: 100vw;
    height: calc(100vh - 160px);  
    background-color: bisque;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.flex-item {
    width: 100px;
    border: 1px solid gray;
    color: white;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-item:nth-child(1) {
    background-color: orangered;
    flex-grow: 1;
}

.flex-item:nth-child(2) {
    flex-grow: 3;
}




header {
    height: 80px;
    background-color: green;
}
footer {
    height: 80px;
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 10px;
}

